<h4>Contact Us</h4>
<hr>
<form autocomplete="off" [formGroup]="contact" (ngSubmit)="save()">

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Name</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="Juan Ignacio" formControlName="name" [class.is-invalid]='noValidName'>
                <small *ngIf="noValidName" class="text-danger">Is required</small>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Last Name</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="Sala" formControlName="lastname" [class.is-invalid]='noValidLastname'>
                <small *ngIf="noValidLastname" class="text-danger">Is required</small>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Company</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="Tru Group Tech" formControlName="company">
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Mail</label>
        <div class="col-8">
            <input class="form-control" type="email" placeholder="juans@trugroup.tech" formControlName="mail" [class.is-invalid]='noValidMail'>
            <small *ngIf="noValidMail" class="text-danger">Please enter a valid email address</small>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Message</label>
        <div class="col-8">
            <input class="form-control" type="message" placeholder="Hello, i would be glad to work with you 😁" formControlName="message">
            <!-- <textarea class="form-control" placeholder="Hello, i would be glad to work with you 😁" id="floatingTextarea" formControlName="message"></textarea> -->
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group justify-content-center ">
            <button type="submit" class="btn m-1 btn-outline-primary btn-block w-25">
        SEND FORM
      </button>
            <!-- <button type="button" class="btn m-1 btn-outline-danger btn-block w-25" (click)="resetForm()">
        CLEAR FORM
      </button> -->
        </div>
    </div>

</form>